<% include partials/header %>

<!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="/images/logolarge.jpg">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Tamy Vogt</h1>
          <p class="text-white">Professional Eyebrow Microblading Technician</p>
          <a class="btn btn-primary btn-lg" href="/mailpage">Schedule Your Appointment!</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card my-4 text-center">
        <div class="card-body card-color">
          <p class="m-0">Come see what microblading has in store for you!</p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Questions and Answers</h2>
              <p class="card-text">Everything you need to know about the procedure and more.</p>
            </div>
            <div class="card-footer">
              <a href="/QA" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Gallery</h2>
              <p class="card-text">Before and after pictures of the microblading process from satisfied customers.</p>
            </div>
            <div class="card-footer">
              <a href="/gallery" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Testimonials</h2>
              <p class="card-text">Hear what our happy customers have to say about us!</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    


<% include partials/footer %>