<% include partials/header %>
  
<div class="container">
    <h1 class="text-center text-lg-left py-2 mt-1">Q&A</h1>
    

<div class="panel-group" id="faqAccordion">
    
    <div class="row text-left">
        <div class="col-lg-6 col-md-6 col-xs-12 mb-1 mt-1">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q:	What is microblading?</a>
                  </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>
        
                        <p>Microblading is the process of manually implanting color pigment beneath the surface of the skin by means of tiny, sterile, disposable needles to produce the appearance of hair strokes.</p>
                     </div>
                </div>    
            </div>
        </div>



        <div class="col-lg-6 col-md-6 col-xs-12 mb-1 mt-1">
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: Do my existing eyebrows need to be shaved off?</a>
                  </h4>
    
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>Most definitely NOT! Please do not tweeze, thread, wax or modify your eyebrows in any way for as long as possible, and no sooner than two weeks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row text-left">
    <div class="col-lg-6 col-md-6 col-xs-12 mb-1 mt-1">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: Does it hurt?</a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>The discomfort is <strong>relative</strong> as everyone has a different level of sensitivity. An anesthetic is applied for numbing during the procedure and every effort is made to ensure you remain comfortable for the duration of the procedure. Scared clients and clients who have their period usually feel stronger pain, while the other clients compare the pain to the one they feel when plucking eyebrows.</p>
                    <p><strong>If you are a frequent smoker, the topical anesthetics used during the treatment will not last as long and also may lead to poor pigment retention.</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 mb-1 mt-1">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: How long does microblading last?</a>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>The pigment will fade over time and it is recommended to get an Annual Touch-Up to keep them looking their best. There is no guarantee in how long it lasts as each individual has very different skin and lifestyle (we estimate 8 – 10 months).
                        Frequency of touch-ups depends on a number of factors including: skin type, pigment selection, lifestyle <strong>(sun exposure)</strong>, iron deficiency (your body absorbs iron-oxide as a supplement), chemical peels, etc.
                    </p>
                    <p><strong>Please note</strong> that final results <strong>CANNOT</strong> be guaranteed as each unique skin type will hold pigments differently and break down at different rates. We will re-evaluate how your skin has received the pigment at your touch-up appointment and make any necessary changes.</p>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row text-left">
    <div class="col-lg-6 col-md-6 col-xs-12 mb-1 mt-1">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: What factors will affect microblading?</a>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p><strong>Sun exposure:</strong> The sun will extremely soften the look of your tattoo, so a physical sunscreen should be used (once healed) to prolong your enhancement.
                    The regeneration of skin cells: The longer the regeneration takes, the longer the pigment holds.</p>
                    
                    <p><strong>The speed at which the skin absorbs the pigment:</strong> The slower the absorption, the longer the pigment will hold.</p>
                    
                    <p><strong>The choice of pigment color:</strong> Some colors may fade quicker than others, e.g. a blonde pigment may fade quicker than a dark brunette pigment.</p>
                    
                    <p><strong>Bleeding during the procedure:</strong> Any bleeding during the tattooing procedure will reduce the amount of pigment absorption.</p> 
                    
                    <p><strong>Caffeine, alcohol, and certain medications act as blood-thinners and should avoided 48 hours prior to your appointment.</strong></p>
                    
                    <p><strong>If you are planning to have laser treatments, tell your laser specialist to avoid the pigmented area. Laser may cause pigment to turn black.</strong></p>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-xs-12 mb-1 mt-1">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: How will I look immediately after?</a>
              </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Your brows will appear darker and more intense than expected for the first week or so. This will gradually lighten during the complete healing process. Redness and swelling is minimal.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="row text-left mb-3">
    <div class="col-lg-6 col-md-6 col-xs-12 mb-1 mt-1">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: How many treatments are needed?</a>
                  </h4>

            </div>
            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p><strong>Microblading is a multiple step appointment process.</strong>
                    Your brows will not be completed in just one service.
                    <p>For microblading, <strong>AT LEAST</strong> two appointments are needed initially, each appointment being 6-8 weeks apart.</p>
                    <p>In many cases a third session may be necessary depending on how well the skin retains the pigment, and how carefully aftercare instructions are followed.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-xs-12 mb-1 mt-1">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: Will microblading work well for me?</a>
              </h4>

            </div>
            <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>We will need to know prior to your appointment if you have any contraindications that may affect the treatment, such as:</p>
                        <p>Any illnesses?</p>
                        <p>On any medication? If so let us know what medication and how much so that we can verify if we can go ahead or if in fact you need doctor’s consent.</p>
                        <p>Any allergies?</p>
                </div>
            </div>
        </div>
    </div>
</div>    
    
    
    <!--/panel-group-->
</div>
    
    
    
<% include partials/footer %>